<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light " >
    <ul class="nav flex-column py-4">
        <p class="text-monospace">All Categories</p>
        <li class="nav-item">
            <a class="nav-link active" href="#!">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#!">Link</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link disabled" href="#!">Disabled</a>
        </li>
    </ul>
</mdb-navbar>